/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');*/

* {
  box-sizing: border-box;
  font-weight: 300;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: LavenderBlush;
  margin: 0;
/*  background:
  radial-gradient(Gainsboro 15%, transparent 16%) 0 0,
  radial-gradient(Gainsboro 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.85) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.85) 15%, transparent 20%) 8px 9px;
  background-color:WhiteSmoke;*/
  /*background-size:16px 16px;*/
  background-color: #fffcfc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23FFE4E1' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #fff5ee;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d3d3d3' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  /*background-attachment: fixed;*/
}
ul#them_all{
  list-style: none;
  padding-left:0;
  font-size: 48px;
  padding: 5px;
}
ul#them_all li{
  display: none;
  margin: 2px;
  cursor: hand;
}

#status input {
  background-color: transparent; border: none;
  text-align: center;
  cursor: copy;
}
#status input:focus{
  outline-color: transparent;
  outline-style: none;
}
.collections {
  display: block;
  text-align: left;
  font-size: 13px;
  margin-bottom: 2em;
}
.collections select{
  border-radius: 0;
  outline-color: transparent;
  outline-style: none;
}

#status span {
  display: block;
}
#status span.emoji input{
  font-size: 160px;
  width: 1.25em;
  padding: 0;
}

#status span.html input,
#status span.unicode input {
  /*width: 5em;*/
  /*border:1px dotted #999; */
  font-weight: 400;
}
#status span.html input,
#status span.unicode input,
#status a.ctg,
#status a.subctg   {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 3px;
  font-weight: 400;

}
#status a.ctg,
#status a.subctg {
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
}
#status a.ctg:before {
  content: 'Collections: ';
  color: #333;
  font-weight: 300;
  text-transform: none;
}

#status span.title {
  font-size: 24px;
  font-weight: 400;
}
#status span.unicode:before{
  content: 'Unicode: ';
  font-size: 13px;
}
#status span.unicode input {
  text-align: left;
}
.todo {
  font-size: 14px;
  color: #999;
}

/*
          Media QUeries
*/

@media screen and (min-width: 801px) {
  #panel-wrapper {
    display: inline-block;vertical-align: top;
    min-width: 340px;
    max-width: 24vw;
    position: fixed; top: 2em;
    right: 2em;
  }

  .panel {
    /*transition: all 0.5s ease-in-out;*/
    /*background-color: #FCFCFC;*/
    background-color: #FFF5EE;
    font-size: 72px;
    border-radius: 4px;
    border: 6px solid Azure;
    padding:  .5ex;
    box-shadow:  1px 1px 1ex rgba(0,0,0,.05);
    display: inline-block;
    text-align: center;
    height: 480px;
  }
  ul#them_all{
    max-width: 66vw;
    display: inline-block;
    vertical-align: top;
    margin: .5em 1em;
  }
  #status span.title {
    font-size: 24px;
    margin-top: -2ex;
  }
  #status span.emoji:before{
    content: '[click to copy]';
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 14px;
    padding: .5ex;
    position: absolute;
    margin-top: 6em;
    left: 4em;
    display: inline-block;
    color: #AAA;
    text-shadow: 1px 1px 0 White;
  }
  #activity {
    border-top: 2px dashed Gainsboro;
    margin-top: 1em;
    padding-top: 1em;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .panel {
    padding: .25ex; 
  }
  #panel-wrapper {
    left: 64vw;
  }
  #them_all {
    margin: 0 !important;
  }
}
@media screen and (max-width: 800px) {

  #them_all{
  margin: 1.5em 0 4em 0;
  }
      /*#status span.emoji input*/
    #status span.emoji {
      float: left;
    }
    #status span.emoji input {
      font-size: 80px;
    }
    #status span, #status span input {
      text-align: left;
    }
  .panel{
    left: 0;
    bottom: 0;
    max-height: 43vh;
    overflow: hidden;
    width: 100%;
    ;
  }
  .panel .collections{
    position: fixed; top: 0; left: 0; width: 100%;
    padding: 1em;
    background-color: #DDD;
    box-shadow: 0 1px 1ex rgba(0,0,0,.3); 
  }
  .panel #secondary-wrapper{
    position: fixed;
    bottom: 0;
    padding: 1em 0 0 1ex;
    background-color: #FCFCF0;
    left: 0;
    width: 100%;
    height: 140px;
    box-shadow: 0 -1px 1ex rgba(0,0,0,.3); 
  }
}

#show_action{
  position: fixed;
  top: 1em; right: 1ex;
  display: inline-block; width: 300px;
}
#msg{
  font-size: 24px;
  border:1px dotted #999; 
  display: inline-block;
  color: Yellow;
  background-color: red;
  padding: 1ex;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
#msg.show{
  animation: pulsex 1.2s 1;
}
#msg.hide{
  animation: pulsey 1.2s 1;
}
#msg:empty{
  display: none;
}
#activity {
  font-size: 18px;
  padding: 1ex 1ex 0 1ex;
}
#activity sub {
  font-size: 11px;
  position: absolute;
  margin-top: 1.66em;
  display: inline-block;
  width: 1em;
  text-align: center;
  border-radius: 50%;
  margin-left: -1.25em;
  opacity: .85;
  background-color: #fff;
}
#activity span {
  text-align: center;
  margin-left: .5ex;
}

.collections select#nav_selector,
.collections .search-wrapper input#emoji-search{
  width: 100%;
  margin: .5ex auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1ex;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background-color: White;
  border: 2px solid Gainsboro;
  border-radius: 4px;
}

.collections select#nav_selector {
  padding: .75ex 1ex;
}

.search-wrapper .clear {
  position: absolute;
  margin-left: -1.75em;
  margin-top: 2ex;
  font-size: 12px;
  text-decoration: none;
  border: none;
  opacity: .5;
}

.search-wrapper:hover .clear {
  opacity: .75;
}
.search-wrapper:hover .clear:hover {
  opacity: 1;
}

input#emoji-search{
  /*font-size: 16px;*/
  /*width: 100%;*/
  /*padding: .5ex .75ex;*/
}

/*
  ANIMATIONS
 */


@keyframes pulsex {
  0% {
    opacity:0;
  }
  50% {
    opacity:.71;
    transform: translate(-1em, 0) scale(1.2);
  }
  100% {
    opacity:0;
  }
}
@keyframes pulsey {
  0% {
    opacity:0;
  }
  50% {
    opacity:.71;
    transform: translate(-1em, 0) scale(1.2);
  }
  100% {
    opacity:0;
  }
}


/*

  Filters

 */


#them_all li {
  display: none;
}
#them_all.showall li{
    display: inline-block;
}

#them_all.ctg_activities li.ctg_activities,
#them_all.ctg_animals-and-nature li.ctg_animals-and-nature,
#them_all.ctg_component li.ctg_component,
#them_all.ctg_flags li.ctg_flags,
#them_all.ctg_food-and-drink li.ctg_food-and-drink,
#them_all.ctg_objects li.ctg_objects,
#them_all.ctg_people li.ctg_people,
#them_all.ctg_smileys li.ctg_smileys,
#them_all.ctg_symbols li.ctg_symbols,
#them_all.ctg_travel-and-places li.ctg_travel-and-places,
#them_all.sub_arts-and-crafts li.sub_arts-and-crafts,
#them_all.sub_award-medal li.sub_award-medal,
#them_all.sub_event li.sub_event,
#them_all.sub_game li.sub_game,
#them_all.sub_sport li.sub_sport,
#them_all.sub_animal-amphibian li.sub_animal-amphibian,
#them_all.sub_animal-bird li.sub_animal-bird,
#them_all.sub_animal-bug li.sub_animal-bug,
#them_all.sub_animal-mammal li.sub_animal-mammal,
#them_all.sub_animal-marine li.sub_animal-marine,
#them_all.sub_animal-reptile li.sub_animal-reptile,
#them_all.sub_plant-flower li.sub_plant-flower,
#them_all.sub_plant-other li.sub_plant-other,
#them_all.sub_gender li.sub_gender,
#them_all.sub_country-flag li.sub_country-flag,
#them_all.sub_flag li.sub_flag,
#them_all.sub_dishware li.sub_dishware,
#them_all.sub_drink li.sub_drink,
#them_all.sub_food-asian li.sub_food-asian,
#them_all.sub_food-fruit li.sub_food-fruit,
#them_all.sub_food-marine li.sub_food-marine,
#them_all.sub_food-prepared li.sub_food-prepared,
#them_all.sub_food-sweet li.sub_food-sweet,
#them_all.sub_food-vegetable li.sub_food-vegetable,
#them_all.sub_book-paper li.sub_book-paper,
#them_all.sub_clothing li.sub_clothing,
#them_all.sub_computer li.sub_computer,
#them_all.sub_household li.sub_household,
#them_all.sub_light-and-video li.sub_light-and-video,
#them_all.sub_lock li.sub_lock,
#them_all.sub_mail li.sub_mail,
#them_all.sub_medical li.sub_medical,
#them_all.sub_money li.sub_money,
#them_all.sub_music li.sub_music,
#them_all.sub_musical-instrument li.sub_musical-instrument,
#them_all.sub_office li.sub_office,
#them_all.sub_other-object li.sub_other-object,
#them_all.sub_phone li.sub_phone,
#them_all.sub_science li.sub_science,
#them_all.sub_sound li.sub_sound,
#them_all.sub_tool li.sub_tool,
#them_all.sub_writing li.sub_writing,
#them_all.sub_body-parts li.sub_body-parts,
#them_all.sub_family li.sub_family,
#them_all.sub_hand-fingers-closed li.sub_hand-fingers-closed,
#them_all.sub_hand-fingers-open li.sub_hand-fingers-open,
#them_all.sub_hand-fingers-partial li.sub_hand-fingers-partial,
#them_all.sub_hand-prop li.sub_hand-prop,
#them_all.sub_hand-single-finger li.sub_hand-single-finger,
#them_all.sub_hands li.sub_hands,
#them_all.sub_person li.sub_person,
#them_all.sub_person-activity li.sub_person-activity,
#them_all.sub_person-fantasy li.sub_person-fantasy,
#them_all.sub_person-gesture li.sub_person-gesture,
#them_all.sub_person-resting li.sub_person-resting,
#them_all.sub_person-role li.sub_person-role,
#them_all.sub_person-sport li.sub_person-sport,
#them_all.sub_person-symbol li.sub_person-symbol,
#them_all.sub_cat-face li.sub_cat-face,
#them_all.sub_emotion li.sub_emotion,
#them_all.sub_face-affection li.sub_face-affection,
#them_all.sub_face-concerned li.sub_face-concerned,
#them_all.sub_face-costume li.sub_face-costume,
#them_all.sub_face-glasses li.sub_face-glasses,
#them_all.sub_face-hand li.sub_face-hand,
#them_all.sub_face-negative li.sub_face-negative,
#them_all.sub_face-neutral-skeptical li.sub_face-neutral-skeptical,
#them_all.sub_face-sleepy li.sub_face-sleepy,
#them_all.sub_face-smiling li.sub_face-smiling,
#them_all.sub_face-tongue li.sub_face-tongue,
#them_all.sub_face-unwell li.sub_face-unwell,
#them_all.sub_monkey-face li.sub_monkey-face,
#them_all.sub_alphanum li.sub_alphanum,
#them_all.sub_arrow li.sub_arrow,
#them_all.sub_av-symbol li.sub_av-symbol,
#them_all.sub_geometric li.sub_geometric,
#them_all.sub_keycap li.sub_keycap,
#them_all.sub_other-symbol li.sub_other-symbol,
#them_all.sub_religion li.sub_religion,
#them_all.sub_transport-sign li.sub_transport-sign,
#them_all.sub_warning li.sub_warning,
#them_all.sub_zodiac li.sub_zodiac,
#them_all.sub_hotel li.sub_hotel,
#them_all.sub_place-building li.sub_place-building,
#them_all.sub_place-geographic li.sub_place-geographic,
#them_all.sub_place-map li.sub_place-map,
#them_all.sub_place-other li.sub_place-other,
#them_all.sub_place-religious li.sub_place-religious,
#them_all.sub_sky-and-weather li.sub_sky-and-weather,
#them_all.sub_time li.sub_time,
#them_all.sub_transport-air li.sub_transport-air,
#them_all.sub_transport-ground li.sub_transport-ground,
#them_all.sub_transport-water li.sub_transport-water{
  display: inline-block;
}


#panel-wrapper.showall .xshowall,
#panel-wrapper.ctg_activities .ctg_activities,
#panel-wrapper.ctg_animals-and-nature .ctg_animals-and-nature,
#panel-wrapper.ctg_component .ctg_component,
#panel-wrapper.ctg_flags .ctg_flags,
#panel-wrapper.ctg_food-and-drink .ctg_food-and-drink,
#panel-wrapper.ctg_objects .ctg_objects,
#panel-wrapper.ctg_people .ctg_people,
#panel-wrapper.ctg_smileys .ctg_smileys,
#panel-wrapper.ctg_symbols .ctg_symbols,
#panel-wrapper.ctg_travel-and-places .ctg_travel-and-places,
#panel-wrapper.ctg_none .ctg_none {
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 1px;
  box-shadow: 0 1px 0 black;
}