
body {
  font-family: sans-serif;
  background-color: LavenderBlush;
}
ul#them_all{
  list-style: none;
  padding-left:0;
  font-size: 48px;
}
ul#them_all li{
  display: none;
  padding: 2px;
  cursor: hand;
}

.panel {
  background-color: LightYellow;
  font-size: 72px;
  position: fixed;
  border-radius: 8px;
  /*width: 4em;*/
  padding:  .3ex;
  /*border:10px solid #EEE;*/
  box-shadow:  1px 1px 1ex rgba(0,0,0,.1);
  display: inline-block;
  text-align: center;
}
#status input {
  background-color: transparent; border: none;
  text-align: center;
  cursor: copy;
}
#status input:focus{
  outline-color: transparent;
  outline-style: none;
}
.collections {
  display: block;
  /*text-align: left;*/
  font-size: 13px;
  margin-bottom: 2em;
}
.collections a {
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  padding: 2px 1px;
  text-transform: uppercase;
  border: none;
  font-size: 15px;
  background-color: transparent;
  border-bottom: 1px solid #999;
  color: #666;
}
.collections a:active {
 /*background-color: Black;*/
color: #333;
}
#status span {
  display: block;
}
#status span.emoji input{
  font-size: 160px;
  width: 1.25em;
  padding: 0;
}
#status span.emoji:before{
  content: 'click to copy';
  font-size: 16px;
  padding: .5ex;
  position: absolute;
  margin-left: -2em;
  display: inline-block;
  /*margin-top: .5em;*/
  background-color: rgba(255,0,0,.5); color: yellow;
}
#status span.html input,
#status span.unicode input,
#status span.ctg  {
  font-size: 14px;
  text-transform: uppercase;
  font-family: monospace;
  margin-top: 3px;

}
#status span.ctg  {
  display: none;
}
#status span.title {
  font-size: 24px;
}
.todo {
  font-size: 14px;
  color: #999;
}

@media screen and (min-width: 801px) {
  #panel-wrapper {
    display: inline-block;vertical-align: top;
    max-width: 32vw;
  }

  .panel {
    /*transition: all 0.5s ease-in-out;*/
    top: .66ex;
    left: 68vw;
    max-width: 4em;
    height: 460px;

  }
  ul#them_all{
    max-width: 63vw;
    display: inline-block;
    vertical-align: top;
    margin: .5em 1em;
  }
}

@media screen and (max-width: 800px) {
  #them_all{}
      /*#status span.emoji input*/
    #status span.emoji {
      float: left;
      margin-top: -20px;
    }
    #status span.emoji input {
      font-size: 80px;
    }
    #status span, #status span input {
      text-align: left;
    }
  .panel{
    left: 0;
    bottom: 0;
    /*margin-top: 56vh;*/
    max-height: 43vh;
    overflow: hidden;
    width: 100%;
  }
}

#them_all li {
  display: none;
}
#them_all.showall li{
    display: inline-block;
}
#them_all.ctg_p li.ctg_p,
#them_all.ctg_s li.ctg_s,
#them_all.ctg_n li.ctg_n,
#them_all.ctg_o li.ctg_o,
#them_all.ctg_a li.ctg_a,
#them_all.ctg_d li.ctg_d,
#them_all.ctg_t li.ctg_t,
#them_all.ctg_f li.ctg_f,
#them_all.ctg_none li.ctg_none {
  display: inline-block;
}

#panel-wrapper.showall .xshowall,
#panel-wrapper.ctg_p .ctg_p,
#panel-wrapper.ctg_s .ctg_s,
#panel-wrapper.ctg_n .ctg_n,
#panel-wrapper.ctg_o .ctg_o,
#panel-wrapper.ctg_a .ctg_a,
#panel-wrapper.ctg_d .ctg_d,
#panel-wrapper.ctg_t .ctg_t,
#panel-wrapper.ctg_f .ctg_f,
#panel-wrapper.ctg_none .ctg_none {
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 1px;
  box-shadow: 0 1px 0 black;
}
#show_action{
  position: fixed;
  top: 1em; right: 1ex;
  display: inline-block; width: 300px;
}
#msg{
  font-size: 24px;
  border:1px dotted #999; 
  display: inline-block;
  color: Yellow;
  background-color: red;
  padding: 1ex;
  transition: all 0.5s ease-in-out;
  /*z-index: 99;*/
  /*box-shadow: 1px 1px 1ex rgba(0,0,0,.2);*/
  opacity: 0;

}
#msg.show{
    animation: pulsex 1.2s 1;
}
#msg.hide{
    animation: pulsey 1.2s 1;
}
#msg:empty{
  display: none;
}
#activity {
  font-size: 18px;
  border-top: 1px dashed #CCC;
  margin-top: 1em;
  padding-top: 1em;
}
#activity sub {
  font-size: 11px;
  position: absolute;
  margin-top: 1.66em;
  display: inline-block;
  width: 1em;
  text-align: center;
  border-radius: 50%;
  margin-left: -1.25em;
  opacity: .85;
  background-color: #fff;
}
#activity span {
  text-align: center;
  margin-left: .5ex;
}

input#emoji-search{
  font-size: 18px;

}
.search-wrapper {
  /*border-bottom: 1px dashed #999;*/
  /*padding: .25ex 0 .6ex 0;*/
  margin-top: 1em;
}


/*
  ANIMATIONS
 */


@keyframes pulsex {
  0% {
    opacity:0;
  }
  50% {
    opacity:.71;
    transform: translate(-1em, 0) scale(1.2);
  }
  100% {
    opacity:0;
  }
}
@keyframes pulsey {
  0% {
    opacity:0;
  }
  50% {
    opacity:.71;
    transform: translate(-1em, 0) scale(1.2);
  }
  100% {
    opacity:0;
  }
}
